*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image:url(./Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
}
p,h1{
    flex-direction: column;
}
input{
    display: block;
    margin-top: 20px;
    padding: 15px;
    border-radius: 30px;
}
button{
    display: block;
    margin: 20px;
}
h1{
    font-size: 50px;
}
div p{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    font-size: 50px;
}